{% extends 'base.html' %}

{% block content%}
<form action="register/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>First name</label>
        <input class="form-control" name="first_name" placeholder="Enter your first name" type="text">
        <label>Second name</label>
        <input class="form-control" name="second_name" placeholder="Enter your second name" type="text">
        <label>Address</label>
        <input class="form-control" name="address" placeholder="Enter your address" type="address">
        <label>Phone number</label>
        <input class="form-control" name="phone_number" placeholder="Enter your phone number" type="tel">
        <label>Email</label>
        <input class="form-control" name="email" placeholder="Enter your email" type="email">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img alt="" class="card-img-top" height="250cm" src="{{product.image_url}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">${{product.price}}</p>
                        <select class="browser-default custom-select" name="no_of_products">
                            <option value="1">one</option>
                            <option value="2">two</option>
                            <option value="3">three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

{% endblock %}
